rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 顧客用メニューは公開読み取りを許可
    match /menu/{menuId} {
      allow read: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
